@model Ecommerce.Models.Venda

@{
    ViewData["Title"] = "Delete";
}

<h3>Tem certeza que deseja excluir?</h3>
<span class="text-danger">*Esta ação não poderá ser desfeita*</span>
<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlrUnitarioVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlrUnitarioVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DthVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DthVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlrTotalVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlrTotalVenda)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVenda" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
